(do                         # 'do' sequentially evaluates its arguments, side-effects are allowed inside the 'do' block
    (display (+ 1 2))
    (display (! true))
    (display (if true 42 0))

    (declare x i32)
    (define x 5)
    (define y (: i32 2))    # type annotation i32 on the value '2' means y is i32
    (display (+ x y)))
